#content{
    position: relative;
    overflow-y: auto;
}

#body{
    background-color: #FFFFFF;
    padding: 10px 20px 10px 20px;
}

.element{
    width: 100%;
    margin-bottom: 20px;
}

.element-title{
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    opacity: 0.8;
    text-align: left;
}

#event-name input{
    display: inline-block;
    width: 100%;
    outline: none;
    height: 5vh;
    font-size: medium;
}

.checkbox-category{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 5px;
}

.choose-time input{
    height: 5vh;
    font-size: medium;
    outline: none;
}

.choose-date{
    width: 70%;
}

.choose-hour{
    width: 25%;
}

#event-image-header{
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: center;
    margin-bottom: 2vh;
}

#event-image-title{
    margin-right: 20px;
    margin-bottom: 0;
}

#upload-icon{
    height: 4vh;
    cursor: pointer;
}

.event-image-wrap{
    display: inline-block;
    border: 2px dashed black;
    text-align: right;
    padding: 10px 10px 10px 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.event-image-wrap span img{
    position: absolute;
    width: 20px;
    margin-top: -20px;
    background-color: white;
    cursor: pointer;
}

.event-img{
    max-width: 100%;
    max-height: 20vh;
    display: inline;
}

#add-event-btn{
    text-align: center;
}

#add-event-btn input{
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: #FFFFFF;
    font-size: medium;
}

#add-event-btn input:hover{
    background-color: darkgreen;
}

@media only screen and (max-width: 768px){
    #start-time{
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 992px) and (min-width: 768px){
    #start-end-time{
        display: table;
    }

    .choose-time{
        display: table-cell;
        width: 50%;
    }

    #end-time{
        text-align: right;
    }
    
    #end-time span{
        padding-left: 4%;
    }
}

@media only screen and (min-width: 992px) {
    #head-bar{
        position: fixed;
        z-index: 2;
        margin-left: 16.66%;
    }
    
    #content{
        margin-left: 16.66%;
        margin-top: 10vh;
    }

    #body{
        margin-top: 3vh;
        margin-left: 5%;
        width: 90%;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        padding: 20px 20px 20px 20px;
    }

    #start-end-time{
        display: table;
    }

    .choose-time{
        display: table-cell;
        width: 50%;
    }

    #end-time{
        text-align: right;
    }
    
    #end-time span{
        padding-left: 4%;
    }
}